.top-banner{
    background-image: url(".../../../../images/top-banner1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color:  #222;

}
.banner-items{
    padding: 100px;
}
.banner-items h1{
    font-size: 64px;
    line-height: 80px;
    font-weight: 500;
}