.nav-item a, img{
    margin-left: 25px;
    font-weight: 600;
}
.custom-text-primary{
    color: #4c80fa;
}
.custom-button{
    background-color: #4c80fa;
    color: #fff8dc;
    border: 0;
    padding: 10px 15px;
    font-weight: 600;

}